.findPack {
    margin-left: 250px;
    margin-right: 250px;
}

.findPack_filterResults {
    margin-top: 40px;
}

.findPack_selectFilters {
    display: flex;
    margin-top: 40px;
}

.findPack_selectFilters__cities {
    margin-right: 40px;
}

.findPack_selectFilters__hangouts {
    margin-right: 40px;
}