.pack_profile {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.pack_profile__left, .pack_profile__right {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pack_profile__info {
    margin-top: 20px;
}

.pack_profile__image {
    margin-top: 20px;
    height: 280px;
}

.pack_profile__buttons {
    display: flex;
    justify-content: flex-start;
}

.pack_profile__edit {
    margin-right: 10px;
}

.pack_vibes {
    margin-top: 20px;
}

.btn-info {
    background-color: #d0e0ee !important;
}

.btn-success {
    
    background-color: #b5aa92 !important;
}

.btn-warning {
    background-color: #967c94 !important;
}

.btn-secondary {
    background-color: #6f909d !important;
}

.btn-danger {
    background-color: #9a4a70 !important;
}